@import url("https://fonts.googleapis.com/css2?family=Lexend&family=Roboto:wght@300;400;500&display=swap");

.containerSidebar {
  width: 100%;
  min-width: 270px;
  max-width: 250px;

  height: calc(100vh - 120px); /*120px of bottombar*/
  position: relative;

  .boxWhite {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.076);
    background: rgb(248, 248, 248);
    border-radius: 8px;
  }

  .menus {
    position: relative;

    width: 100%;
    height: 100%;

    padding: 25px;

    display: flex;
    flex-direction: column;

    font-family: "Roboto", sans-serif;

    list-style: none;

    overflow-x: hidden;
    overflow-y: scroll;

    transition: 0.3s;

    &::-webkit-scrollbar {
      width: 5px;
      border-radius: 30px;
      background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
      width: 5px;
      border-radius: 30px;
      background-color: rgba(28, 28, 28, 0.233);
    }
    &::-webkit-scrollbar-button {
      height: 0;
      border-radius: 30px;
      background-color: transparent;
    }

    .logo {
      padding: 0 0 20px 0;
      margin-bottom: 20px;
      border-bottom: 1px solid #ddd;

      display: flex;
      justify-self: center;
      align-items: center;
      text-align: center;

      width: 100%;
      height: 100%;

      span {
        margin: auto;
        font-weight: 900;
        font-size: 40px;

        &::first-letter {
          color: rgb(0, 89, 255);
        }
      }
    }

    // distancia entre as categorias
    li {
      margin-bottom: 15px;

      & > p {
        font-weight: 700;
        text-align: center;
      }
    }

    // todos os elementos de cada categoria
    .menu {
      margin-top: 25px;

      a {
        text-decoration: none;
        color: rgba(51, 51, 51, 0.556);
        font-size: 15px;

        &:hover {
          color: rgb(17, 17, 17);
          transition: 0.2s;
        }

        li {
          // distancia entre os items dos elemntos da categoria
          margin-bottom: 15px;
          background-color: rgb(238, 238, 238);
          border-radius: 30px;
          padding: 8px 15px 8px 35px; // left margin 35 for give space for the icon
          position: relative;

          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;

          .icoItemMenu {
            width: 20px;
            height: 20px;
            // distancia até o nome do elemento da categoria
            position: absolute;
            left: 10px;
            top: 6px;
          }
        }

        & > .icoItemMenu {
          width: 20px;
          height: 20px;

          margin-right: 10px;
          color: rgb(163, 163, 163);
        }
      }
    }
  }
}

@media only screen and (max-width: 1050px) {
  .containerSidebar {
    max-width: 90px;
    min-width: 90px;
    width: 90px;

    padding: 5px;

    .menus {
      padding: 5px;
      width: 80px;
    
      &::-webkit-scrollbar {
        width: 0;
      }
      .logo {
        padding: 0 0 20px 0;
        margin-bottom: 20px;
        border-bottom: 1px solid #ddd;

        display: flex;
        justify-self: center;
        align-items: center;
        text-align: center;

        width: 100%;
        height: 100%;

        span {
          margin: auto;
          font-weight: 900;
          font-size: 40px;
          color: transparent;

          margin-left: 20px;
          margin-top: 15px;

          height: 45px;

          &::first-letter {
            color: rgb(0, 89, 255);
          }
        }
      }

      // distancia entre as categorias
      li {
        margin-bottom: 15px;

        & > p {
          font-weight: 700;
          color: rgb(33, 33, 33);
        }
      }

      // todos os elementos de cada categoria
      .menu {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        a {
          text-decoration: none;
          color: rgba(51, 51, 51, 0.556);
          font-size: 14px;

          &:hover {
            color: rgb(17, 17, 17);
            transition: 0.2s;

            li {
              background-color: rgb(49, 49, 49);
              color: #fff;

              span {
                color: #000;
              }
            }
          }

          li {
            // distancia entre os items dos elemntos da categoria
            margin-bottom: 34px;
            border-radius: 10px;
            padding: 0;
            position: relative;

            width: 55px;
            height: 55px;

            overflow: visible;

            display: flex;
            justify-content: center;
            align-items: center;

            span {
              font-size: 1.9vh;
              position: absolute;
              bottom: -22px;
              left: 5px;

              text-overflow: ellipsis;
              white-space: nowrap;
              max-width: 95%;
              overflow: hidden;
            }

            .icoItemMenu {
              width: 20px;
              height: 20px;
              // distancia até o nome do elemento da categoria
              position: relative;

              inset: 0; // top, left, right, bottom = 0
            }
          }

          & > .icoItemMenu {
            width: 20px;
            height: 20px;

            margin-right: 10px;
            color: rgb(163, 163, 163);
          }
        }
      }
    }
  }
}
