@import url('https://fonts.googleapis.com/css2?family=Lexend&family=Roboto:wght@300;400;500&display=swap');

.containerSidebar{
    max-width: 300px;
    min-width: 250px;
    width: 100%;

    height: calc(100vh - 120px); /*120px of bottombar*/
    background-color: rgb(248, 248, 248);

    box-shadow: 0 0 8px rgba(0, 0, 0, 0.138);
}

.menus{
    padding: 30px;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    font-family: 'Roboto', sans-serif;
}

.menus li > span {
    font-weight: 700;
    color: rgb(33, 33, 33);
}

.menus .menu{
    margin-bottom: 20px;
    padding-left: 20px;
}

.menus .menu li:first-of-type{
    margin-top: 10px;
}
.menus .menu li{
    margin-bottom: 10px;
    position: relative;
    display: flex; 
}

.menus .menu li > .icoItemMenu{
    width: 20px;
    height: 20px;

    margin-right: 10px;
    color: rgb(163, 163, 163);
}

.menus .menu li:first-of-type:before,
.menus .menu li:last-of-type:before,
.menus .menu li::before{
    content: '';
    position: absolute;

    width: 2px;
    height: 40px;

    background-color: rgb(208, 208, 208);

    bottom: 0;
    left: -15px;
}

.menus .menu li:first-of-type:before{
    height: 15px;
    bottom: 0;
}

.menus .menu li:last-of-type:before{
    bottom: 5px;
}

.menus .menu li a{
    text-decoration: none;
    color: rgba(51, 51, 51, 0.556);
}
.menus .menu li:hover a{
    color: rgb(17, 17, 17);
}
.menus .menu li:hover .icoItemMenu{
    color: rgb(17, 17, 17);
}